<div class="text-center">

<% for trainer in @trainers %>
<td>
  <strong>Trainer:</strong>
  <%= trainer.name %>
  </td><br>
 <td>
  <strong>Location:</strong>
  <%= trainer.geography %>
  </td><br>
  <td>

    <strong>Expertise:</strong>
  <%= trainer.expertise %>
  </td><br>
  <td>
  <strong>Rating:</strong>
  <%= trainer.rating %>
  </td><br><br>
<% end %>

<%= link_to "Back", root_path %>

</div>

<style>
   div.text-center{
     float: center;

}
</style>
