<% for trainer in @trainers %>
<td>
  <strong>Name:</strong>
  <%= trainer.name %>
  </td><br>
 <td>
  <strong>Location:</strong>
  <%= trainer.geography %>
  </td><br>
  <td>
  <strong>Experience:</strong>
  <%= trainer.experience %>
  </td><br>
  <td>
  <strong>Rating:</strong>
  <%= trainer.rating %>
  </td><br><br>
<% end %>

<%= link_to "Back", root_path %>

 

