<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
    <div class="text-right">
<h4><%= link_to ('<span class="glyphicon glyphicon-remove"> </span> ' ).html_safe, root_path %></h4>

<%#= button_to "Back" , dashboards_index_path, :method => "get" %>
</div>
<div class="text-center">
  <% if !@trainers.present? %>
       <b> No records found!</b>
  <%else%>
    <% for trainer in @trainers %>
      <td>
        <strong>Trainer Name:</strong>
        <%= trainer.name %>
      </td><br>
      <td>
        <strong>Trainer Type:</strong>
        <%= trainer.profile_type %>
      </td><br>
      <td>
        <strong>Location:</strong>
         <%= trainer.geography %>
      </td><br>
      <td>
        <strong>Expertise:</strong>
        <%= trainer.expertise %>
      </td><br>
      <td>
       <strong>Rating:</strong>
       <%= trainer.rating %>
      </td><br><br>
    <% end %>
  <% end %>
     
</div></div></div></div>




<style>
   div.text-center{
     float: center;
}
</style>
