<div class="text-center">
<br><br>
  <% if !@trainers.present? %>
       <b><p style="color:red;">No records found!</p></b>
  <%else%>
    <% for trainer in @trainers %>

      <td>
        <strong>Trainer Name:</strong>
        <%= trainer.name %>
      </td><br>
      <td>
        <strong>Trainer Type:</strong>
        <%= trainer.profile_type %>
      </td><br>
      <td>
        <strong>Location:</strong>
         <%= trainer.geography %>
      </td><br>
      <td>
        <strong>Expertise:</strong>
        <%= trainer.expertise %>
      </td><br>
      <td>
       <strong>Rating:</strong>
       <%= trainer.rating %>
      </td><br><br>
    <% end %>
  <% end %>
   <%= link_to "back", root_path %>  
</div> <br><br><br><br>  

<style>
   div.text-center{
     float: center;
}
  div.text-right{
     float: right;
}
</style>
