<!DOCTYPE html>
<html>
  <head>
    <title>XLS</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
    <body>

      <nav id ="nav">

        <div id= "page_nav" >
       
         <%= link_to ('Home<span class="glyphicon glyphicon-home"> </span>').html_safe, root_path %>
          <%= link_to "About","#"  %>
    <h1 style="color: white;font-weight: bold;left: 432px;position: relative;text-align: center;
    top: -44px;
    width: 0;"> TRAINERZHUB.COM</h1>
        </div>
    
        <div id= "sign_in" >
          <% if current_user.present? %>
              <%= link_to ('Trainers<span class="glyphicon glyphicon-user"> </span>').html_safe, trainers_path %>
            <%= link_to ('<span class="glyphicon glyphicon-off"></span>').html_safe, destroy_user_session_path, :method => :delete %>
         <% else %>
            <%= link_to "Help?", root_path %>
        <%= link_to ('Signup <span class="glyphicon glyphicon-pencil"> </span>').html_safe,signup_path  %>
          
            <%= link_to ('Sign in <span class="glyphicon glyphicon-user"> </span>').html_safe, new_user_session_path(current_user)  %>
          <% end %>
        </div>

      </nav>
        <div id= "main_wrap" >
  
         
        </div>
    
        <div class="container">
            <%= yield %>
            </div>
              </body> <br><br><br>
          <div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
              <h7 style="position: relative;top: 16px; left: 560px;font-weight:bold;color:white;text-align: center;"> @ All Rights Reserved</h7>

        </div>
</html>


   
<script>
  $("#search").validate();
</script>
<style>
 div.text-center{
     float: center;

}
</style>

